<div class="container">
	<form action="/users/registration" method="POST">
		<div class = "logo">
			<img src='../logo.png' class="img-fluid" alt="logo" />

		</div>
		<div class="form-group">
			<div class="button flex-parent">
				<h1> Register Here </h1>
			</div>
			<%- include('partials/messages') %>
			<input type="email" class="form-control" id="email" name="email" placeholder="Enter email" value="<%= typeof email != 'undefined' ? email : '' %>" ></input>
		</div>
		<div class="form-group">
			<input type="username" class="form-control" id="username" name="username" placeholder="Enter Username" value="<%= typeof username != 'undefined' ? username : '' %>" ></input>
		</div>

		<div class="form-group" >

			<input type="password" name="password" class="form-control" id="password" placeholder="Password" value="<%= typeof password != 'undefined' ? password : '' %>" ></input>
		</div>
		<div class="form-group" >
			<input type="password" name="password2" class="form-control" id="password2" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" ></input>

		</div>

		<div class="button flex-parent">
			<a href="/" class="btn btn-secondary " to="/" >Go to Login</a>
		</div>
		<div class="button flex-parent">
			<button type="submit"  class="btn btn-secondary ">Register</button>
		</div>
	</form>
</div>
